<h2 style="text-align: center; color: deeppink;">Profil szerkesztése</h2>

<form [formGroup]="profilForm" (ngSubmit)="mentes()" *ngIf="profilForm" class="form-container">

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Név</mat-label>
    <input matInput formControlName="nev">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Új jelszó (ha módosítani szeretnéd)</mat-label>
    <input matInput formControlName="jelszo" type="password">
  </mat-form-field>

  <div class="button-group" style="margin-top: 16px; display: flex; gap: 16px;">
    <button mat-raised-button color="primary" type="submit" [disabled]="profilForm.invalid">Mentés</button>
    <button mat-stroked-button color="warn" type="button" (click)="profilTorles()">Fiók törlése</button>
  </div>

</form>
