<form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="contact-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Név</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="contactForm.get('name')?.invalid">Név megadása kötelező</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="contactForm.get('email')?.hasError('required')">E-mail kötelező</mat-error>
      <mat-error *ngIf="contactForm.get('email')?.hasError('email')">Nem valós e-mail</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Üzenet</mat-label>
      <textarea matInput formControlName="message" rows="4"></textarea>
      <mat-error *ngIf="contactForm.get('message')?.invalid">Üzenet megadása kötelező</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Küldés</button>
  </form>
  