<nav class="navbar">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Kezdőlap</a>
    <a routerLink="/packages" routerLinkActive="active">Termékeink</a>
    <a routerLink="/gallery" routerLinkActive="active">Galéria</a>
    <a routerLink="/contact" routerLinkActive="active">Kapcsolat</a>
    <a routerLink="/cart">Kosár</a>
    <a routerLink="/login" routerLinkActive="active">Belépés / Regisztráció</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
  </nav>